/*MOstrar los valores introducidos por input en mayuscula*/
.mayuscula{
  text-transform:uppercase;
}

/*Estilos para la ventana modal CSS*/

.pdfobject-container { 
	height: 40rem; 
	border: 1rem solid rgba(0,0,0,.1); 
}

#btnCerrarResultadosPDF {
	margin: 5px;
	display: block;
}

#cancel {
	margin: 5px;
	display: block;
}

.cargando {
	position: absolute;
	width: 30px;
	right: -40px;
	top: -2px;
}

.hide {
	display: none;
}

.error {

	color: #dc3545 !important;
	font-weight: 400 !important;
	
}

thead {

	padding: 5px;
	font-size: 16px;
	background: linear-gradient(to right, #39cccc, #17a2b8, #3d9970);
	color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #558FA6;
	border-bottom-color: #558FA6;
	
}

.table-hover tbody tr:hover {

    background-color: rgba(23, 162, 184, 0.075) !important;

}

.asterisk {

  color: #dc3545;
  font-size: 0.5rem;
  margin-left: 0.2rem;

}

.nav-treeview {

	background: #17a2b8 !important;

}

.select2 {

  text-transform: uppercase;
  /*font-family: 'FontAwesome';*/

}

.bg-gradient-info {

    background: #17a2b8 linear-gradient(180deg, #20c997, #17a2b8) repeat-x !important;

}